<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Bud4</title>
        <link rel="stylesheet" href="css/styles.css">
    </head>
    <body>
        <header>
            <section class="logo">
                <img src="images/logo.png" alt="logo">
            </section>
            <section class="minimenu">
                <a class="about" href="#">About</a>
                <a class="projects" href="#">Projects</a>
                <a class="contact" href="#">Contact</a>
            </section>
            <div class="buscador">
                <input type="search" placeholder="buscador">
            </div>
        </header>
        <section class="presentacion">
            <h1>Bud4</h1>
            <p>I´m Tomas A. Garcia Tarantino, but everybody calls me Buda. Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquid sunt quam reprehenderit earum soluta quas adipisci consequuntur nulla odio, porro fugit facilis placeat! Incidunt vel nulla cum accusamus quisquam aut?</p>
            <img src="images/codigo.avif" alt="Fondo codigo">
        </section>
    </body>
</html>