/* header */
header .logo{
    display: flex;
    justify-content: center;
}
.logo img{
    position: fixed;
    width: 10%;
}
.minimenu {
    display: flex;
    justify-content: left;
    position: fixed;
}
.buscador {
    display: flex;
    justify-content: right;
    
}
.buscador input{
    position: fixed;
}
/* header */


/* body */
.presentacion h1{
    text-align: center;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}


section.presentacion h1{
    color: white;
    display: flex;
    justify-content:right;
    position: relative;
    
}
section.presentacion p{
    color: white;
    display: flex;
    justify-content: right;
    text-align: left;
    width: 40%;
    
}
body {
    background-color: rgba(123, 123, 255, 0.75);
    background-image: url('../images/codigo.avif');
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

}

/* body */