<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perrito Bailando</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
        <div class="container">
            <div class="imagen">
                <img src="/img/Perrito_bailando.gif" alt="Aquí va mi perrito bailando">
            </div>        
            <div class="detail">
                <h1>Perrito Bailando</h1>
                <p><strong>Profesión: </strong>El baile violento</p>
                <p><strong>País: </strong>todos</p>
                <p><strong>Resenia: </strong> Es un perrito bailando </p>
                <a href="/"><button>Volver</button></a>
            </div>
        </div>
    </body>
</html>